body {
  background-color: #d1d7bb;
  font-family: 'Cardo', sans-serif;
  margin: 0 2%;
}

header {
  text-align: left;
  font-family: "Lobster", sans-serif;
  position: absolute
  bottom: 2vmin;
}

footer {
  background-color: #a6a376;
  width: 100%;
  text-align: right;
}

h1 {
  margin: 0 2em;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

nav {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
