body {
  background-color: #d1d7bb;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  width:  100%;
}

header {
  font-family: "Lobster Two", sans-serif;
  position: relative;
}

footer {
  background-color: #a6a376;
  width: 100%;
  text-align: right;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fafcfd;
}

nav {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  width: 100%;
  clear: both;
}
