body {
  background-color: #fafcfd;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: #303030;
}

h1 {
  font-family: 'Playfair Display';
  font-weight: lighter;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

nav {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
}
