body {
  background-color: #fafcfd;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  width:  100%;
  color: #303030;
}

header {
  font-family: "Herr Von Muellerhoff", sans-serif;
  position: relative;
  z-index:  3;
  width:  96%;
  text-align: center;
  margin:  0 auto;
}

main {
  width: 96%;
  margin: 0 auto 5% auto;
  position:  relative;
  bottom: 1rem;
}

footer {
  background-color: #fafafa;
  width: 100%;
  text-align: right;
  margin: 2% auto 10% auto;
  padding:  0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
}

nav {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  width: 100%;
  clear: both;
}
