header {
  text-align: center;
}

header h1 {
  font-family: "Herr Von Muellerhoff", sans-serif;
  font-weight: normal;
  font-size: 28vmin;
  display: inline-block;
}

header h2 {
  font-family: 'Unica One';
  text-transform: uppercase;
  font-size: 4vmin;
  margin: 2%, 0, 0, 0
}

section {
  text-align: center;
}

footer {
  text-align: right;
  background-color: #fafafa;
}

.project-body, #about {
  text-align: center;
}

.project-body p, #about p {
  text-align: left;
}

.article-box, #about {
  border: 1px solid black;
  background-color: #fafafa;
}

nav.social ul, nav.main-nav ul {
  list-style: none;
}

nav.social li, nav.main-nav li {
  display: inline;
}

nav.social {
  text-align: center;
  font-size: 5vmin;
  background-color: #d1d1d1;
}

nav.main-nav {
  font-size: 5vmin;
  background-color: #d1d1d1;
  text-align:center;
  display: table;
}

.article-box {
  background-color: #fafafa;
}

.article-box .read-on, .article-box .read-less {
  color: #f1986b;
  display: block;
  font-size: 3.75vw;
}

.article-box h1, #about h1 {
  font-size: 6.665vmin;
  color: #f1986b;
  text-transform: uppercase;
}

.article-box h2 {
  font-weight: lighter;
  display: block;
  font-size: 2.815vmin;
  font-style: italic;
}

.article-box p {
  font-size: 3.75vw;
  position: relative;
}

.article-box a {
  color: #f1986b;
}

.filters {
  text-align: right;
}

.filters ul {
  margin-top: 3em;
  position: relative;
  display: block;
  list-style: none;
  font-size: 3vmin;
}

.filters a {
  text-decoration: none;
  color: #f1986b;
}

@media (min-width: 400px) {
  body {
  }
  .article-box p {
    font-size: 1.2em;
  }
  .article-box h1 {
    font-size: 2em;
  }
  .article-box .read-on, .article-box .read-less {
    font-size: 1.1em;
    min-width: 39%;
  }
  .article-box h2 {
    font-size: 1em;
  }
}

@media (min-width: 768px)  {
  .article-box .read-on, .article-box .read-less {
    min-width: 25%;
  }
  .article-box h2 {
    position: absolute;
    right: 2%;
    top: 2%;
  }

  .article-box {
    position: relative;
  }

  .project-body {
    margin-top: 5vmin;
  }
}
