header h1 {
  font-weight: normal;
  font-size: 15.785vmin;
  margin: 7% auto 1% auto;
}

section {
  text-align: center;
  max-width: 100%;
}

.project-body img {
  max-width: 100%;
  margin: 0 auto;
}

.project-body, #about {
  margin-top: 2em;
  position: relative;
  text-align: center;
}

.project-body p, #about p {
  text-align: left;
}

.article-box, #about {
  width: 96%;
  margin-top: 1em;
  border: 1px solid black;
  padding: 0 2% 0 2%;
  position: relative;
  background-color: #fafafa;
}

.article-box h1, .article-box h2 {
  margin: 0;
}

nav.social ul, nav.main-nav ul {
  list-style: none;
}

nav.main-nav ul {
  display: table-cell;
  vertical-align: middle;
  padding:  0;
  margin:  0;
  display: inline-block;
}

nav.social li, nav.main-nav li {
  display: inline;
}

nav.main-nav li {
  padding: 0 .5rem;
  height:  100%;
  display:  inline-block;
}

nav.social {
  text-align: center;
  font-size: 5vmin;
  position: fixed;
  bottom:  0;
  z-index:  1;
  background-color: #d1d1d1;
}

nav.main-nav {
  font-size: 5vmin;
  background-color: #d1d1d1;
  text-align:center;
  display: table;
  position:  fixed;
  z-index: 5;
  top:  0;
}

.article-box {
  background-color: #fafafa;
}

.article-box .read-on, .article-box .read-less {
  color: #f1986b;
  display: block;
  padding-bottom: 2px;
  margin: 0 auto;
  min-width: 30%;
  font-size: 3.75vw;
}

.article-box h1, #about h1 {
  font-family: 'Merriweather', sans-serif;
  width: 100%;
  display: inline-block;
  font-size: 6.665vmin;
  color: #f1986b;
  position: relative;
  margin-top: 0.5em;
}

.article-box h2 {
  font-weight: lighter;
  display: inline-block;
  font-size: 2.815vmin;
  font-style: italic;
  margin-top: 0.25em;
}

.article-box p {
  font-size: 3.75vw;
  position: relative;
}

.article-box a {
  color: #f1986b;
}

.filters {
  list-style: none;
}

.styled-select select {
  position: relative;
  bottom: 2vmin;
  font-size: 3.75vmin;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid black;
  outline: none;
}

.styled-select select:focus, .style-select select option:focus {
  outline: none;
}

@media (min-width: 400px) {
  body {
  }
  .article-box p {
    font-size: 1.2em;
  }
  .article-box h1 {
    font-size: 2em;
  }
  .article-box .read-on, .article-box .read-less {
    font-size: 1.1em;
    min-width: 39%;
  }
  .article-box h2 {
    font-size: 1em;
  }
}

@media (min-width: 768px)  {
  .article-box .read-on, .article-box .read-less {
    min-width: 25%;
  }
  .article-box h2 {
    float: right;
  }
}
