body {
  background-color: #d1d7bb;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 125px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #a6a376;
  position: relative;
  text-align: center;
  border: 1px solid black;
}

header h1 {
  font-family: 'Alegreya', sans-serif;
  font-size: 4.5em;
  position: relative;
  bottom: 5%;
}

main {
  width: 80%;
  margin: 0 auto;
}

footer {
  height: 2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #a6a376;
  bottom: 0;
  position: relative;
}

section {
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #d1d7bb;
}

footer span {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 7px;
}

nav {
  width: auto;
  position: relative;
  bottom: 85%;
  text-align: center;
}

img {
  margin-top: 2em;
  max-width: 100%;
}

.project-body {
  position: relative;
  text-align: left;
}

.template {
  display: none;
}

.article-box {
  width: 96%;
  margin-top: 1em;
  border: 1px solid black;
  padding: 0 2% 0 2%;
  position: relative;
  background-color: #f2f2f2;
}

nav.social {
  display: inline;
  position: absolute;
  bottom: -13%;
  right: 2%;
}

nav.main-nav {
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: -12%;
}

nav.social ul, nav.main ul {
  list-style: none;
}

nav.main-nav li {
  margin-right: 5px;
}

nav.social li, nav.main-nav li {
  display: inline;
}

nav.social img {
  width: 30px;
}

.article-box {
  background-color: #f2f2f2;
}

.article-box .read-on, .read-less {
  color: #b4bf5e;
  display: block;
  padding-bottom: 2px;
  border: 1px solid black;
  border-bottom: 0;
  width: 17%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 auto;
  min-width: 30%;
}

.article-box h1 {
  font-size: 1.5em;
  background-color: #a6a376;
  color: #f2f2f2;
  padding: 5px 0 5px 0;
}

.article-box h2 {
  font-size: .9em;
  color: #b4bf5e;
  float: right;
  position: relative;
  bottom: 20px;
  font-style: italic;
}

.article-box p {
  font-size: 1em;
  position: relative;
  clear: both;

}
